In [1]:
import pandas as pd
from pickle import load
from pickle import dump
import numpy as np
pd.set_option("max_rows", None)
pd.set_option("max_columns", None)

In [2]:
alaska = load(open('alaska_final.pkl', 'rb'))

In [3]:
results = load(open('results_with_target_final.pkl', 'rb'))

In [4]:
alaska.head()

,County,2016_total_votes,2012_total_votes,Obama,Romney,Target,State,Density,2010_land_area,central_outlying
0,Aleutians East,529.293851,549.375577,234.120530,292.395684,Trump,Alaska,0.49,6982,rural
1,Aleutians West,1213.502975,1238.761919,777.428504,426.573343,Clinton,Alaska,1.19,4390,Rural
2,Anchorage,130040.329900,125169.133300,54042.760210,66387.084670,Trump,Alaska,170.62,1705,Central
3,Bethel,4892.232820,4810.611592,3425.621480,1151.530057,Clinton,Alaska,0.46,40570,rural
4,Bristol Bay,453.270615,425.845526,147.147402,251.541638,Trump,Alaska,1.75,504,rural

In [5]:
results.head()

,State,County,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,Target
0,Alabama,Autauga,24661,6354,17366,23909,594,93,Central,Trump
1,Alabama,Baldwin,94090,18329,65772,84988,1590,128,Central,Trump
2,Alabama,Barbour,10390,5873,5539,11459,885,30,Central,Trump
3,Alabama,Bibb,8748,2200,6131,8391,623,36,Outlying,Trump
4,Alabama,Blount,25384,2961,20741,23980,645,89,Outlying,Trump

In [6]:
combined = results.append(alaska)

In [7]:
combined = combined.sort_values(['State', 'County']).reset_index(drop = True)

In [9]:
combined.tail()

,State,County,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,Target
3136,Wyoming,Sweetwater,16661.0,4773.0,11427.0,16750.0,10427,4.0,Central,Trump
3137,Wyoming,Teton,12176.0,6211.0,4858.0,11356.0,3995,6.0,Central,Clinton
3138,Wyoming,Uinta,8053.0,1628.0,6613.0,8453.0,2081,10.0,Central,Trump
3139,Wyoming,Washakie,3715.0,794.0,3013.0,3911.0,2239,4.0,Rural,Trump
3140,Wyoming,Weston,3334.0,422.0,2821.0,3323.0,2398,3.0,Rural,Trump

In [10]:
dump(combined, open('combined_results.pkl', 'wb'))