Bring in results with alaska and target. Bring in census pull with alaska. See if you can join them.

In [1]:
import pandas as pd
from pickle import load
from pickle import dump
import numpy as np
pd.set_option("max_rows", None)
pd.set_option("max_columns", None)

In [2]:
results = load(open('combined_results.pkl', 'rb'))

In [3]:
race = load(open('df_race1.pkl', 'rb'))

In [4]:
poverty = load(open('poverty.pkl', 'rb'))

In [5]:
results.head()

,State,County,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,Target
0,Alabama,Autauga,24661.0,6354.0,17366.0,23909.0,594,93.0,Central,Trump
1,Alabama,Baldwin,94090.0,18329.0,65772.0,84988.0,1590,128.0,Central,Trump
2,Alabama,Barbour,10390.0,5873.0,5539.0,11459.0,885,30.0,Central,Trump
3,Alabama,Bibb,8748.0,2200.0,6131.0,8391.0,623,36.0,Outlying,Trump
4,Alabama,Blount,25384.0,2961.0,20741.0,23980.0,645,89.0,Outlying,Trump

In [6]:
race.head()

1,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County,State
0,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama
1,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama
2,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama
3,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama
4,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama

In [7]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             3141 non-null   object
 1   County            3141 non-null   object
 2   2016_total_votes  3141 non-null   float64
 3   Obama             3141 non-null   float64
 4   Romney            3141 non-null   float64
 5   2012_total_votes  3141 non-null   float64
 6   2010_land_area    3141 non-null   int64
 7   Density           3141 non-null   float64
 8   central_outlying  3141 non-null   object
 9   Target            3141 non-null   object
dtypes: float64(5), int64(1), object(4)
memory usage: 245.5+ KB

In [8]:
race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3141 entries, 0 to 3140
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3141 non-null   object
 1   total_pop             3141 non-null   float64
 2   total_pop_one_race    3141 non-null   float64
 3   pop_white             3141 non-null   float64
 4   pop_african_american  3141 non-null   float64
 5   pop_native            3141 non-null   float64
 6   pop_asian             3141 non-null   float64
 7   pop_islander          3141 non-null   float64
 8   pop_other             3141 non-null   float64
 9   total_pop_two_races   3141 non-null   float64
 10  County                3141 non-null   object
 11  State                 3141 non-null   object
dtypes: float64(9), object(3)
memory usage: 294.6+ KB

In [9]:
df = race.reset_index(drop=True).merge(results.reset_index(drop=True), left_index=True, right_index=True)

In [10]:
df = df.replace('rural', 'Rural')

In [11]:
df.tail()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,Target
3136,0500000US56037,42272.0,38061.0,34389.0,366.0,433.0,295.0,70.0,2508.0,4211.0,Sweetwater,Wyoming,Wyoming,Sweetwater,16661.0,4773.0,11427.0,16750.0,10427,4.0,Central,Trump
3137,0500000US56039,23331.0,21179.0,19202.0,55.0,185.0,317.0,5.0,1415.0,2152.0,Teton,Wyoming,Wyoming,Teton,12176.0,6211.0,4858.0,11356.0,3995,6.0,Central,Clinton
3138,0500000US56041,20450.0,19269.0,18007.0,66.0,191.0,114.0,27.0,864.0,1181.0,Uinta,Wyoming,Wyoming,Uinta,8053.0,1628.0,6613.0,8453.0,2081,10.0,Central,Trump
3139,0500000US56043,7685.0,7113.0,6600.0,12.0,77.0,33.0,3.0,388.0,572.0,Washakie,Wyoming,Wyoming,Washakie,3715.0,794.0,3013.0,3911.0,2239,4.0,Rural,Trump
3140,0500000US56045,6838.0,6498.0,6197.0,30.0,97.0,27.0,9.0,138.0,340.0,Weston,Wyoming,Wyoming,Weston,3334.0,422.0,2821.0,3323.0,2398,3.0,Rural,Trump

In [12]:
race_poverty_results = df.reset_index(drop=True).merge(poverty.reset_index(drop=True), left_index=True, right_index=True)

In [13]:
race_poverty_results.tail()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,Target,state,county,poverty_total,poverty_under_18,median_household_income
3136,0500000US56037,42272.0,38061.0,34389.0,366.0,433.0,295.0,70.0,2508.0,4211.0,Sweetwater,Wyoming,Wyoming,Sweetwater,16661.0,4773.0,11427.0,16750.0,10427,4.0,Central,Trump,Wyoming,Sweetwater,3914.0,1517.0,67508.0
3137,0500000US56039,23331.0,21179.0,19202.0,55.0,185.0,317.0,5.0,1415.0,2152.0,Teton,Wyoming,Wyoming,Teton,12176.0,6211.0,4858.0,11356.0,3995,6.0,Central,Clinton,Wyoming,Teton,1902.0,566.0,68358.0
3138,0500000US56041,20450.0,19269.0,18007.0,66.0,191.0,114.0,27.0,864.0,1181.0,Uinta,Wyoming,Wyoming,Uinta,8053.0,1628.0,6613.0,8453.0,2081,10.0,Central,Trump,Wyoming,Uinta,2344.0,887.0,60532.0
3139,0500000US56043,7685.0,7113.0,6600.0,12.0,77.0,33.0,3.0,388.0,572.0,Washakie,Wyoming,Wyoming,Washakie,3715.0,794.0,3013.0,3911.0,2239,4.0,Rural,Trump,Wyoming,Washakie,1022.0,333.0,47831.0
3140,0500000US56045,6838.0,6498.0,6197.0,30.0,97.0,27.0,9.0,138.0,340.0,Weston,Wyoming,Wyoming,Weston,3334.0,422.0,2821.0,3323.0,2398,3.0,Rural,Trump,Wyoming,Weston,678.0,195.0,48653.0

In [14]:
dump(race_poverty_results, open('race_poverty_results.pkl', 'wb'))

In [15]:
dump(df, open('results_race_with_alaska.pkl', 'wb'))