In [1]:
import pandas as pd
pd.set_option("max_rows", None)

Rename this file when you have a chance.

In [2]:
df_race = pd.read_csv('DECENNIALPL2020.P1_data_with_overlays_2021-10-04T202848.csv', error_bad_lines = False, header = None)

In [3]:
df_race.head()

,0,1,2,3,4,5,6,7,8,9,...,63,64,65,66,67,68,69,70,71,72
0,GEO_ID,NAME,P1_001N,P1_002N,P1_003N,P1_004N,P1_005N,P1_006N,P1_007N,P1_008N,...,P1_062N,P1_063N,P1_064N,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N
1,id,Geographic Area Name,!!Total:,!!Total:!!Population of one race:,!!Total:!!Population of one race:!!White alone,!!Total:!!Population of one race:!!Black or A...,!!Total:!!Population of one race:!!American I...,!!Total:!!Population of one race:!!Asian alone,!!Total:!!Population of one race:!!Native Haw...,!!Total:!!Population of one race:!!Some Other...,...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...,!!Total:!!Population of two or more races:!!P...
2,0500000US01001,"Autauga County, Alabama",58805,55648,42160,11445,217,881,35,910,...,0,2,2,0,0,0,0,0,0,0
3,0500000US01003,"Baldwin County, Alabama",231767,216743,189399,18217,1582,2067,143,5335,...,0,0,0,0,0,0,0,0,0,0
4,0500000US01005,"Barbour County, Alabama",25223,24523,11317,11933,116,117,1,1039,...,0,2,2,0,0,0,0,0,0,0

In [4]:
df_race.columns = df_race.iloc[1]

In [5]:
df_race.drop(df_race.index[1], inplace = True)

In [6]:
 df_race.drop(df_race.index[0], inplace = True)

Get rid of columns detailing multi-race breakdown but keep total of multi-race population.

In [7]:
df_race.drop(df_race.iloc[:, 11:73], axis = 1, inplace = True)

In [8]:
df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

<ipython-input-8-3176a88a0be0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

Function to convert totals to percentages.

In [9]:
def percent(number):
    return (number/df_race['Total'])*100
# df_race.iloc[:, 3:] = df_race.iloc[:, 3:].apply(percent)

Convert race/population info into floats.

In [10]:
df_race[df_race.columns[2:]] = df_race[df_race.columns[2:]].astype(float)

Split county and state into two columns and drop old column.

In [11]:
df_race[['County', 'State']] = df_race['Geographic Area Name'].str.split(',', expand=True)

In [12]:
df_race.drop('Geographic Area Name', axis = 1, inplace = True)

Remove the word 'county' from values in County.

In [13]:
df_race['County'] = df_race['County'].str.rstrip('County')

In [14]:
# df_race = df_race.infer_objects()

In [15]:
# (df_race.loc[df_race['State'].str.contains('Texas', case=False)])

In [16]:
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

In [17]:
# df_race_Alaska.head()

None of this worked... Trying to sum all of Alaska into one single row.

In [18]:
# (df_race.loc[df_race['State'].str.contains('Louisiana', case=False)])['County']

In [19]:
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)]).sum

In [20]:
# df_race.append(df_race_Alaska.transpose())

In [21]:
# df_race.drop(df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Drop Puerto Rico

In [22]:
pr = df_race.loc[df_race['State'].str.contains('Puerto Rico', case=False)]

In [23]:
df_race = df_race.drop(pr.index, axis = 0)

Dropped all of Alaska.

In [24]:
alaska = df_race.loc[df_race['State'].str.contains('Alaska', case=False)]

In [25]:
df_race = df_race.drop(alaska.index, axis = 0)

In [26]:
df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

In [27]:
# df_race = df_race.append(df_race_Alaska.sum().rename('Alaska'))

In [28]:
# df_race

In [29]:
(df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Empty DataFrame
Columns: [id, Total, TotalPopulation of one race, TotalPopulation of one raceWhite alone, TotalPopulation of one raceBlack or African American alone, TotalPopulation of one raceAmerican Indian and Alaska Native alone, TotalPopulation of one raceAsian alone, TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone, TotalPopulation of one raceSome Other Race alone, TotalPopulation of two or more races, County, State]
Index: []

Manually added summed Alaska info. Will need to come back and do this a better way because this will be an issue with all data pulled from the census.

In [30]:
# df_race = pd.concat([pd.DataFrame([['alaska', 733391, 643867, 435392, 21898, 111575, 44032, 12698, 1872, 89524, 'Alaska', 'Alaska']],columns=df_race.columns),df_race],ignore_index=True)

Apply unidecode to remove accents on Dona.

In [31]:
from unidecode import unidecode

df_race['County'] = df_race['County'].apply(unidecode)

Apply percentage function. Don't know if this will be needed. Maybe scaling will take care of it?

In [32]:
# df_race.iloc[:, 2:-2] = df_race.iloc[:, 2:-2].apply(percent)

Figure out La Salle, LA. In target, not in race. It had no space in race. Removed space from target... I think.

In [33]:
# df_race.loc[df_race['State'].str.contains('Hawaii', case=False)]

Dropping Kalawoa. Only has 82 residents and does not come up in census pull.

In [34]:
Kalawao = df_race.loc[df_race['County'].str.contains('Kalawao', case=False)]

In [35]:
df_race = df_race.drop(Kalawao.index, axis = 0)

In [36]:
from pickle import dump

In [37]:
dump(df_race, open('df_race.pkl', 'wb'))

In [38]:
df_race.head()

1,id,Total,TotalPopulation of one race,TotalPopulation of one raceWhite alone,TotalPopulation of one raceBlack or African American alone,TotalPopulation of one raceAmerican Indian and Alaska Native alone,TotalPopulation of one raceAsian alone,TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone,TotalPopulation of one raceSome Other Race alone,TotalPopulation of two or more races,County,State
2,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama
3,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama
4,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama
5,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama
6,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama

In [39]:
df_race.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 2 to 3144
Data columns (total 12 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   id                                                                           3112 non-null   object
 1   Total                                                                        3112 non-null   float64
 2   TotalPopulation of one race                                                  3112 non-null   float64
 3   TotalPopulation of one raceWhite alone                                       3112 non-null   float64
 4   TotalPopulation of one raceBlack or African American alone                   3112 non-null   float64
 5   TotalPopulation of one raceAmerican Indian and Alaska Native alone           3112 non-null   float64
 6   TotalPopulation of one raceAsian alone                                       3112 non-null   float64
 7   TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone  3112 non-null   float64
 8   TotalPopulation of one raceSome Other Race alone                             3112 non-null   float64
 9   TotalPopulation of two or more races                                         3112 non-null   float64
 10  County                                                                       3112 non-null   object
 11  State                                                                        3112 non-null   object
dtypes: float64(9), object(3)
memory usage: 316.1+ KB

In [48]:
df_race.rename(columns = {'Total': 'total_pop', 'TotalTotalPopulation of one race': 'total_pop_one_race', 'TotalPopulation of one raceWhite alone':'pop_white', 'TotalPopulation of one raceBlack or African American alone': 'pop_african_american', 'TotalPopulation of one raceAmerican Indian and Alaska Native alone': 'pop_native', 'TotalPopulation of one raceAsian alone': 'pop_asian', 'TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone': 'pop_islander', 'TotalPopulation of one raceSome Other Race alone': 'pop_other', 'TotalPopulation of two or more races': 'total_pop_two_races'}, inplace = True)

In [49]:
df_race.head()

1,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County,State
2,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama
3,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama
4,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama
5,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama
6,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama

In [50]:
dump(df_race, open('df_race.pkl', 'wb'))