In [1]:
import pandas as pd
pd.set_option("max_rows", None)

Rename this file when you have a chance.

In [2]:
df_race = pd.read_csv('DECENNIALPL2020.P1_data_with_overlays_2021-10-04T202848.csv', error_bad_lines = False, header = None)

In [3]:
df_race.columns = df_race.iloc[1]

In [4]:
df_race.drop(df_race.index[1], inplace = True)

In [5]:
 df_race.drop(df_race.index[0], inplace = True)

Get rid of columns detailing multi-race breakdown but keep total of multi-race population.

In [6]:
df_race.drop(df_race.iloc[:, 11:73], axis = 1, inplace = True)

In [7]:
df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

<ipython-input-7-3176a88a0be0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

Function to convert totals to percentages.

In [8]:
def percent(number):
    return (number/df_race['Total'])*100
# df_race.iloc[:, 3:] = df_race.iloc[:, 3:].apply(percent)

Convert race/population info into floats.

In [9]:
df_race[df_race.columns[2:]] = df_race[df_race.columns[2:]].astype(float)

Split county and state into two columns and drop old column.

In [10]:
df_race[['County', 'State']] = df_race['Geographic Area Name'].str.split(',', expand=True)

In [11]:
df_race.drop('Geographic Area Name', axis = 1, inplace = True)

Remove the word 'county' from values in County.

In [12]:
df_race['County'] = df_race['County'].str.rstrip('County')

In [13]:
# df_race = df_race.infer_objects()

In [14]:
# (df_race.loc[df_race['State'].str.contains('Texas', case=False)])

In [15]:
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

In [16]:
# df_race_Alaska.head()

None of this worked... Trying to sum all of Alaska into one single row.

In [17]:
# (df_race.loc[df_race['State'].str.contains('Louisiana', case=False)])['County']

In [18]:
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)]).sum

In [19]:
# df_race.append(df_race_Alaska.transpose())

In [20]:
# df_race.drop(df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Drop Puerto Rico

In [21]:
pr = df_race.loc[df_race['State'].str.contains('Puerto Rico', case=False)]

In [22]:
df_race = df_race.drop(pr.index, axis = 0)

Dropped all of Alaska.

In [23]:
alaska = df_race.loc[df_race['State'].str.contains('Alaska', case=False)]

In [24]:
df_race = df_race.drop(alaska.index, axis = 0)

In [25]:
df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

In [26]:
# df_race = df_race.append(df_race_Alaska.sum().rename('Alaska'))

In [27]:
# df_race

In [28]:
(df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Empty DataFrame
Columns: [id, Total, TotalPopulation of one race, TotalPopulation of one raceWhite alone, TotalPopulation of one raceBlack or African American alone, TotalPopulation of one raceAmerican Indian and Alaska Native alone, TotalPopulation of one raceAsian alone, TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone, TotalPopulation of one raceSome Other Race alone, TotalPopulation of two or more races, County, State]
Index: []

Manually added summed Alaska info. Will need to come back and do this a better way because this will be an issue with all data pulled from the census.

In [29]:
df_race = pd.concat([pd.DataFrame([['alaska total', 733391, 643867, 435392, 21898, 111575, 44032, 12698, 1872, 89524, 'Alaska', 'Alaska']],columns=df_race.columns),df_race],ignore_index=True)

Apply unidecode to remove accents on Dona.

In [30]:
from unidecode import unidecode

df_race['County'] = df_race['County'].apply(unidecode)

Apply percentage function. Don't know if this will be needed. Maybe scaling will take care of it?

In [32]:
df_race.iloc[:, 2:-2] = df_race.iloc[:, 2:-2].apply(percent)

Figure out La Salle, LA. In target, not in race. It had no space in race. Removed space from target... I think.

In [34]:
# df_race.loc[df_race['State'].str.contains('Hawaii', case=False)]

1,id,Total,TotalPopulation of one race,TotalPopulation of one raceWhite alone,TotalPopulation of one raceBlack or African American alone,TotalPopulation of one raceAmerican Indian and Alaska Native alone,TotalPopulation of one raceAsian alone,TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone,TotalPopulation of one raceSome Other Race alone,TotalPopulation of two or more races,County,State
518,0500000US15001,200629.0,70.470371,33.576901,0.623539,0.511890,19.741413,14.003958,2.012670,29.529629,Hawaii,Hawaii
519,0500000US15003,1016508.0,75.535264,18.540139,2.038646,0.224101,42.975855,10.044092,1.712431,24.464736,Honolulu,Hawaii
520,0500000US15005,82.0,73.170732,32.926829,2.439024,0.000000,14.634146,18.292683,4.878049,26.829268,Kalawao,Hawaii
521,0500000US15007,73298.0,72.703212,31.657071,0.512974,0.391552,28.789326,9.859751,1.492537,27.296788,Kauai,Hawaii
522,0500000US15009,164754.0,75.619408,32.899353,0.646418,0.472219,26.905568,12.144166,2.551683,24.380592,Maui,Hawaii

Dropping Kalawoa. Only has 82 residents and does not come up in census pull.

In [36]:
Kalawao = df_race.loc[df_race['County'].str.contains('Kalawao', case=False)]

In [37]:
df_race = df_race.drop(Kalawao.index, axis = 0)

In [38]:
from pickle import dump

In [39]:
dump(df_race, open('df_race_alaska_fixed.pkl', 'wb'))

In [40]:
df_race.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3113 entries, 0 to 3113
Data columns (total 12 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   id                                                                           3113 non-null   object
 1   Total                                                                        3113 non-null   float64
 2   TotalPopulation of one race                                                  3113 non-null   float64
 3   TotalPopulation of one raceWhite alone                                       3113 non-null   float64
 4   TotalPopulation of one raceBlack or African American alone                   3113 non-null   float64
 5   TotalPopulation of one raceAmerican Indian and Alaska Native alone           3113 non-null   float64
 6   TotalPopulation of one raceAsian alone                                       3113 non-null   float64
 7   TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone  3113 non-null   float64
 8   TotalPopulation of one raceSome Other Race alone                             3113 non-null   float64
 9   TotalPopulation of two or more races                                         3113 non-null   float64
 10  County                                                                       3113 non-null   object
 11  State                                                                        3113 non-null   object
dtypes: float64(9), object(3)
memory usage: 316.2+ KB