In [1]:
import pandas as pd
from pickle import load
from pickle import dump
pd.set_option("max_columns", None)
pd.set_option('max_rows', None)

Bring in race and results data frames.

In [2]:
df_race = load(open('df_race.pkl', 'rb'))

In [3]:
df_results = load(open('df_results.pkl', 'rb'))

## Failed attempts at joining.

This brought all of df_results in with null values except for Alaska.

In [4]:
# new_df = pd.merge(df_race, df_results,  how='left', left_on=['County','State'], right_on = ['County Name','State Code'])

Changing to strings... didn't help

In [5]:
# # Motor['Motor'] = Motor['Motor'].astype(str)
# df_race['County'] = df_race['County'].astype(str)
# df_race['State'] = df_race['State'].astype(str)
# df_results['County Name'] = df_results['County Name'].astype(str)
# df_results['State Code'] = df_results['State Code'].astype(str)

In [6]:
# new_df = pd.merge(df_race, df_results,  how='left', left_on=['County','State'], right_on = ['County Name','State Code'])

This made all of df_race null.

In [7]:
# new_df = df_results.merge(df_race, left_on=['County Name','State Code'], right_on = ['County','State'], how='left')

Trying to merge just on county. They joined without nulls but counties in more than one state came in wonky.

In [8]:
# new_df = pd.merge(df_race, df_results,  how='left', left_on=['County'], right_on = ['County Name'])

Trying to reset index. Didn't change anything

In [9]:
# df_results.reset_index(drop=True, inplace = True)
# df_race.reset_index(drop = True, inplace = True)

In [10]:
# new_df = pd.merge(df_race, df_results,  how='left', left_on=['County','State'], right_on = ['County Name','State Code'])

Trying another datatype method. Nope. Don't even understand what this is.

In [11]:
# # df1.col1 = df1.col1.str.encode('utf-8')
# # df2.col2 = df2.col2.str.encode('utf-8')
# x = df_results['County Name'].str.encode('utf-8')
# y = df_results['State Code'].str.encode('utf-8')
# x1 = df_race['County'].str.encode('utf-8')
# y1 = df_race['State'].str.encode('utf-8')

Trying outer join. Just added all the rows at the bottom.

In [12]:
# df = pd.merge(a, b, on='id', how='outer')

# new_df = pd.merge(df_race, df_results, left_on=['County','State'], right_on = ['County Name','State Code'], how = 'outer')

result = pd.concat([df1, df4], axis=1) nope

In [13]:
# new_df = pd.concat([df_results, df_race], axis = 1)

pd.merge(precip_one_station, climate_temp, how="outer", on=["STATION", "DATE"]) came up with all nulls on right

In [14]:
# pd.merge(df_race, df_results, how = 'outer', on = ['State', 'County'])

## Finally a merge!

In [15]:
new_df = df_race.reset_index(drop=True).merge(df_results.reset_index(drop=True), left_index=True, right_index=True)

In [16]:
new_df.head()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying
0,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama,Alabama,Autauga,24661,6354,17366,23909,594,93,1001,1001,1.0,1.0,Central
1,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama,Alabama,Baldwin,94090,18329,65772,84988,1590,128,1003,1003,1.0,3.0,Central
2,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama,Alabama,Barbour,10390,5873,5539,11459,885,30,1005,1005,1.0,5.0,Central
3,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama,Alabama,Bibb,8748,2200,6131,8391,623,36,1007,1007,1.0,7.0,Outlying
4,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama,Alabama,Blount,25384,2961,20741,23980,645,89,1009,1009,1.0,9.0,Outlying

Keep these just in case

In [ ]:
# df_race.loc[~df_race['County'].isin(df_results['County'])] #compare the two dataframes for matching county values

In [18]:
# df_results.loc[~df_results['County'].isin(df_race['County'])]

In [19]:
# new_df['State Code'].value_counts()

In [20]:
# df_race.sort_values(by=['County'])

In [21]:
new_df.head()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying
0,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama,Alabama,Autauga,24661,6354,17366,23909,594,93,1001,1001,1.0,1.0,Central
1,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama,Alabama,Baldwin,94090,18329,65772,84988,1590,128,1003,1003,1.0,3.0,Central
2,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama,Alabama,Barbour,10390,5873,5539,11459,885,30,1005,1005,1.0,5.0,Central
3,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama,Alabama,Bibb,8748,2200,6131,8391,623,36,1007,1007,1.0,7.0,Outlying
4,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama,Alabama,Blount,25384,2961,20741,23980,645,89,1009,1009,1.0,9.0,Outlying

In [22]:
new_df.central_outlying.value_counts()

Not Metro or Micro Presumed Rural    1293
Central                              1289
Outlying                              530
Name: central_outlying, dtype: int64

In [23]:
dump(new_df, open('df_race_results.pkl', 'wb'))