In [29]:
import pandas as pd
from pickle import load
from pickle import dump
import numpy as np
pd.set_option("max_rows", None)
pd.set_option("max_columns", None)

In [30]:
df = pd.read_csv('2016 Presidential Election Analysis.csv')

In [31]:
df.columns = df.columns.str.strip().str.replace('[^\w\s]', '')

<ipython-input-31-29d73bdc17d5>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.strip().str.replace('[^\w\s]', '')

In [32]:
def remove_punctuation(x):
    try:
        x = x.str.replace('[^\w\s]','')
    except:
        pass
    return x

In [33]:
df = df.apply(remove_punctuation)

<ipython-input-32-fabae1a16f96>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  x = x.str.replace('[^\w\s]','')

In [34]:
df = df.replace(',', '', regex = True) #can this be removed?

In [35]:
irrelevant_columns = df.loc[:, 'CBSA Code': 'Metropolitan Division Code']

In [36]:
df.drop('County Population', axis = 1, inplace = True)

In [37]:
df.drop(irrelevant_columns, axis = 1, inplace = True)

In [38]:
us_state_abbrev = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
}

In [39]:
df['State Code'] = df['State Code'].map(us_state_abbrev)

In [40]:
df['County Name'] = df['County Name'].str.rstrip('County')

In [41]:
df = df.replace('Oglala', 'Oglala Lakota', regex = True)

In [42]:
df = df.replace('La Salle Parish', 'LaSalle Parish', regex = True)

In [43]:
df.rename(columns={"State Code": "State", "County Name": "County"}, inplace = True)

df['State'] = df['State'].fillna(df['County'])

In [44]:
df.drop(df.loc[df['State'].str.contains('Alaska', case=False)].index, inplace = True)

In [45]:
df.rename(columns = {'Total': '2016_total_votes', '2012 Total Votes':'2012_total_votes', 'Combined FIPS Code': 'combined_fips_code', 'ANSI Code': 'ansi_code', 'State FIPS Code': 'state_fips_code', 'County FIPS Code': 'county_fips_code', 'CentralOutlying County': 'central_outlying', '2010 Land Area': '2010_land_area'}, inplace = True)

In [46]:
df.replace('Not Metro or Micro Presumed Rural', 'Rural', inplace = True)

In [47]:
df.head()

,State,County,Clinton or Trump State,Clinton,Trump,2016_total_votes,Clinton,Trump,Vote Difference CT,Vote Difference TC,Percent Difference CT,Percent Difference TC,Obama,Romney,2012_total_votes,Obama,Romney,Vote Difference OR,Difference OR,Clinton BW Obama,Trump BW Romney,Clinton BW Obama,Trump BW Romney,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying
0,Alabama,Autauga,Trump,5908,18110,24661,2396,7344,12202,12202,4948,4948,6354,17366,23909,2658,7263,11012,4606,446,744,262,080,594,93,1001,01001,1.0,1.0,Central
1,Alabama,Baldwin,Trump,18409,72780,94090,1957,7735,54371,54371,5779,5779,18329,65772,84988,2157,7739,47443,5582,80,7008,200,004,1590,128,1003,01003,1.0,3.0,Central
2,Alabama,Barbour,Trump,4848,5431,10390,4666,5227,583,583,561,561,5873,5539,11459,5125,4834,334,291,1025,108,459,393,885,30,1005,01005,1.0,5.0,Central
3,Alabama,Bibb,Trump,1874,6733,8748,2142,7697,4859,4859,5554,5554,2200,6131,8391,2622,7307,3931,4685,326,602,480,390,623,36,1007,01007,1.0,7.0,Outlying
4,Alabama,Blount,Trump,2150,22808,25384,847,8985,20658,20658,8138,8138,2961,20741,23980,1235,8649,17780,7415,811,2067,388,336,645,89,1009,01009,1.0,9.0,Outlying

Below is bringing the target up backward but I can't figure out why... the same thing worked in a different notebook.

In [48]:
# conditions = [df.iloc[:, 3] < df.iloc[:, 4], df.iloc[:, 3] > df.iloc[:, 4]]
# choices = ['Trump', 'Clinton']
# df['Target'] = np.select(conditions, choices, default = np.nan)

In [49]:
df.head()

,State,County,Clinton or Trump State,Clinton,Trump,2016_total_votes,Clinton,Trump,Vote Difference CT,Vote Difference TC,Percent Difference CT,Percent Difference TC,Obama,Romney,2012_total_votes,Obama,Romney,Vote Difference OR,Difference OR,Clinton BW Obama,Trump BW Romney,Clinton BW Obama,Trump BW Romney,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying
0,Alabama,Autauga,Trump,5908,18110,24661,2396,7344,12202,12202,4948,4948,6354,17366,23909,2658,7263,11012,4606,446,744,262,080,594,93,1001,01001,1.0,1.0,Central
1,Alabama,Baldwin,Trump,18409,72780,94090,1957,7735,54371,54371,5779,5779,18329,65772,84988,2157,7739,47443,5582,80,7008,200,004,1590,128,1003,01003,1.0,3.0,Central
2,Alabama,Barbour,Trump,4848,5431,10390,4666,5227,583,583,561,561,5873,5539,11459,5125,4834,334,291,1025,108,459,393,885,30,1005,01005,1.0,5.0,Central
3,Alabama,Bibb,Trump,1874,6733,8748,2142,7697,4859,4859,5554,5554,2200,6131,8391,2622,7307,3931,4685,326,602,480,390,623,36,1007,01007,1.0,7.0,Outlying
4,Alabama,Blount,Trump,2150,22808,25384,847,8985,20658,20658,8138,8138,2961,20741,23980,1235,8649,17780,7415,811,2067,388,336,645,89,1009,01009,1.0,9.0,Outlying

In [50]:
df = df.iloc[:, [0, 1, 3, 4, 5, 12, 13, 14, 23, 24, -1]]

In [51]:
df.tail()

,State,County,Clinton,Trump,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying
3108,Wyoming,Sweetwater,3233,12153,16661,4773,11427,16750,10427,4,Central
3109,Wyoming,Teton,7313,3920,12176,6211,4858,11356,3995,6,Central
3110,Wyoming,Uinta,1202,6154,8053,1628,6613,8453,2081,10,Central
3111,Wyoming,Washakie,532,2911,3715,794,3013,3911,2239,4,Rural
3112,Wyoming,Weston,294,2898,3334,422,2821,3323,2398,3,Rural

In [52]:
df.iloc[:, 2:9] = df.iloc[:, 2:9].apply(pd.to_numeric)

In [53]:
conditions = [(df['Clinton'] < df['Trump']), (df['Clinton'] > df['Trump'])]
choices = ['Trump', 'Clinton']
df['Target'] = np.select(conditions, choices, default = np.nan)

In [54]:
df = df.drop(df.iloc[:, 2:4], axis = 1)

In [55]:
df.tail()

,State,County,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,Target
3108,Wyoming,Sweetwater,16661,4773,11427,16750,10427,4,Central,Trump
3109,Wyoming,Teton,12176,6211,4858,11356,3995,6,Central,Clinton
3110,Wyoming,Uinta,8053,1628,6613,8453,2081,10,Central,Trump
3111,Wyoming,Washakie,3715,794,3013,3911,2239,4,Rural,Trump
3112,Wyoming,Weston,3334,422,2821,3323,2398,3,Rural,Trump

In [56]:
dump(df, open('results_with_target_final.pkl', 'wb'))