In [1]:
import pandas as pd
from pickle import dump
pd.set_option("max_rows", None)

In [2]:
# (df_race.loc[df_race['State'].str.contains('Texas', case=False)])
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Rename this file when you have a chance.

In [3]:
df_race = pd.read_csv('DECENNIALPL2020.P1_data_with_overlays_2021-10-04T202848.csv', error_bad_lines = False, header = None)

In [4]:
df_race.columns = df_race.iloc[1]

In [5]:
df_race.drop(df_race.index[1], inplace = True)

In [6]:
 df_race.drop(df_race.index[0], inplace = True)

Get rid of columns detailing multi-race breakdown but keep total of multi-race population.

In [7]:
df_race.drop(df_race.iloc[:, 11:73], axis = 1, inplace = True)

In [8]:
df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

<ipython-input-8-3176a88a0be0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

Function to convert totals to percentages. Pretty sure I don't need this... but it's here.

In [9]:
def percent(number):
    return (number/df_race['Total'])*100
# df_race.iloc[:, 3:] = df_race.iloc[:, 3:].apply(percent)

Convert race/population info into floats.

In [10]:
df_race[df_race.columns[2:]] = df_race[df_race.columns[2:]].astype(float)

Split county and state into two columns and drop old column.

In [11]:
df_race[['County', 'State']] = df_race['Geographic Area Name'].str.split(',', expand=True)

In [12]:
df_race.drop('Geographic Area Name', axis = 1, inplace = True)

Remove the word 'county' from values in County.

In [13]:
df_race['County'] = df_race['County'].str.rstrip('County')

None of this worked... Trying to sum all of Alaska into one single row.

In [14]:
# (df_race.loc[df_race['State'].str.contains('Louisiana', case=False)])['County']

In [15]:
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)]).sum

In [16]:
# df_race.append(df_race_Alaska.transpose())

In [17]:
# df_race.drop(df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Drop Puerto Rico

In [18]:
pr = df_race.loc[df_race['State'].str.contains('Puerto Rico', case=False)]

In [19]:
df_race = df_race.drop(pr.index, axis = 0)

Dropped all of Alaska. Will come back and fix this. Just need to move ahead to get some kind of model going for deliverables.

In [20]:
alaska = df_race.loc[df_race['State'].str.contains('Alaska', case=False)]

In [21]:
df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

In [22]:
df_race_Alaska

1,id,Total,TotalPopulation of one race,TotalPopulation of one raceWhite alone,TotalPopulation of one raceBlack or African American alone,TotalPopulation of one raceAmerican Indian and Alaska Native alone,TotalPopulation of one raceAsian alone,TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone,TotalPopulation of one raceSome Other Race alone,TotalPopulation of two or more races,County,State
69,0500000US02013,3420.0,3212.0,684.0,297.0,802.0,771.0,32.0,626.0,208.0,Aleutians East Borough,Alaska
70,0500000US02016,5232.0,4858.0,1667.0,259.0,728.0,1513.0,239.0,452.0,374.0,Aleutians West Census Area,Alaska
71,0500000US02020,291247.0,250445.0,164446.0,14576.0,23661.0,27646.0,10001.0,10115.0,40802.0,Anchorage Municipali,Alaska
72,0500000US02050,18666.0,17650.0,1665.0,85.0,15632.0,202.0,2.0,64.0,1016.0,Bethel Census Area,Alaska
73,0500000US02060,844.0,701.0,370.0,6.0,305.0,5.0,3.0,12.0,143.0,Bristol Bay Borough,Alaska
74,0500000US02063,7102.0,6342.0,4907.0,49.0,669.0,529.0,62.0,126.0,760.0,Chugach Census Area,Alaska
75,0500000US02066,2617.0,2335.0,1611.0,8.0,663.0,17.0,10.0,26.0,282.0,Copper River Census Area,Alaska
76,0500000US02068,1619.0,1480.0,1382.0,11.0,61.0,13.0,5.0,8.0,139.0,Denali Borough,Alaska
77,0500000US02070,4857.0,4361.0,799.0,25.0,3453.0,48.0,9.0,27.0,496.0,Dillingham Census Area,Alaska
78,0500000US02090,95655.0,83485.0,65971.0,4014.0,7555.0,3104.0,604.0,2237.0,12170.0,Fairbanks North Star Borough,Alaska
79,0500000US02100,2080.0,1838.0,1589.0,2.0,214.0,14.0,2.0,17.0,242.0,Haines Borough,Alaska
80,0500000US02105,2365.0,2081.0,1147.0,6.0,878.0,16.0,5.0,29.0,284.0,Hoonah-Angoon Census Area,Alaska
81,0500000US02110,32255.0,27318.0,20124.0,350.0,3614.0,2101.0,476.0,653.0,4937.0,Juneau City and Borough,Alaska
82,0500000US02122,58799.0,52811.0,46382.0,386.0,4228.0,809.0,182.0,824.0,5988.0,Kenai Peninsula Borough,Alaska
83,0500000US02130,13948.0,12246.0,8430.0,103.0,2334.0,1129.0,26.0,224.0,1702.0,Ketchikan Gateway Borough,Alaska
84,0500000US02150,13101.0,11794.0,6570.0,90.0,1826.0,2803.0,117.0,388.0,1307.0,Kodiak Island Borough,Alaska
85,0500000US02158,8368.0,8176.0,173.0,16.0,7946.0,23.0,0.0,18.0,192.0,Kusilvak Census Area,Alaska
86,0500000US02164,1476.0,1309.0,303.0,2.0,994.0,9.0,1.0,0.0,167.0,Lake and Peninsula Borough,Alaska
87,0500000US02170,107081.0,94782.0,83035.0,1121.0,6844.0,1559.0,506.0,1717.0,12299.0,Matanuska-Susitna Borough,Alaska
88,0500000US02180,10046.0,9205.0,1422.0,55.0,7556.0,111.0,5.0,56.0,841.0,Nome Census Area,Alaska
89,0500000US02185,11031.0,10072.0,3082.0,162.0,5748.0,641.0,321.0,118.0,959.0,North Slope Borough,Alaska
90,0500000US02188,7793.0,7331.0,700.0,72.0,6469.0,55.0,12.0,23.0,462.0,Northwest Arctic Borough,Alaska
91,0500000US02195,3398.0,2962.0,2470.0,49.0,247.0,123.0,12.0,61.0,436.0,Petersburg Borough,Alaska
92,0500000US02198,5753.0,5095.0,2403.0,22.0,2584.0,27.0,30.0,29.0,658.0,Prince of Wales-Hyder Census Area,Alaska
93,0500000US02220,8458.0,7261.0,5174.0,37.0,1248.0,573.0,14.0,215.0,1197.0,Sitka City and Borough,Alaska
94,0500000US02230,1240.0,1160.0,1070.0,10.0,32.0,39.0,0.0,9.0,80.0,Skagway Municipali,Alaska
95,0500000US02240,6808.0,6216.0,5085.0,74.0,817.0,87.0,16.0,137.0,592.0,Southeast Fairbanks Census Area,Alaska
96,0500000US02275,2127.0,1789.0,1352.0,0.0,380.0,25.0,2.0,30.0,338.0,Wrangell City and Borough,Alaska
97,0500000US02282,662.0,544.0,249.0,4.0,255.0,32.0,1.0,3.0,118.0,Yakutat City and Borough,Alaska
98,0500000US02290,5343.0,5008.0,1130.0,7.0,3832.0,8.0,3.0,28.0,335.0,Yukon-Koyukuk Census Area,Alaska

In [23]:
df_race = df_race.drop(alaska.index, axis = 0)

In [24]:
# df_race = df_race.append(df_race_Alaska.sum().rename('Alaska'))

In [25]:
# df_race

In [26]:
(df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

Empty DataFrame
Columns: [id, Total, TotalPopulation of one race, TotalPopulation of one raceWhite alone, TotalPopulation of one raceBlack or African American alone, TotalPopulation of one raceAmerican Indian and Alaska Native alone, TotalPopulation of one raceAsian alone, TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone, TotalPopulation of one raceSome Other Race alone, TotalPopulation of two or more races, County, State]
Index: []

Manually added summed Alaska info. Will need to come back and do this a better way because this will be an issue with all data pulled from the census.

In [27]:
# df_race = pd.concat([pd.DataFrame([['alaska', 733391, 643867, 435392, 21898, 111575, 44032, 12698, 1872, 89524, 'Alaska', 'Alaska']],columns=df_race.columns),df_race],ignore_index=True)

Apply unidecode to remove accents on Dona.

In [28]:
from unidecode import unidecode

df_race['County'] = df_race['County'].apply(unidecode)

Apply percentage function. Don't know if this will be needed. Maybe scaling will take care of it?

In [29]:
# df_race.iloc[:, 2:-2] = df_race.iloc[:, 2:-2].apply(percent)

Dropping Kalawoa. Only has 82 residents and does not come up in census pull.

In [30]:
Kalawao = df_race.loc[df_race['County'].str.contains('Kalawao', case=False)]

In [31]:
df_race = df_race.drop(Kalawao.index, axis = 0)

Rename annoying columns.

In [32]:
df_race.rename(columns = {'Total': 'total_pop', 'TotalPopulation of one race': 'total_pop_one_race', 'TotalPopulation of one raceWhite alone':'pop_white', 'TotalPopulation of one raceBlack or African American alone': 'pop_african_american', 'TotalPopulation of one raceAmerican Indian and Alaska Native alone': 'pop_native', 'TotalPopulation of one raceAsian alone': 'pop_asian', 'TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone': 'pop_islander', 'TotalPopulation of one raceSome Other Race alone': 'pop_other', 'TotalPopulation of two or more races': 'total_pop_two_races'}, inplace = True)

Remove punctuation. Periods in 'St.' were causing issues further down the line. **Move this further up the notebook.

In [33]:
def remove_punctuation(x):
    try:
        x = x.str.replace('[^\w\s]','')
    except:
        pass
    return x
df_race = df_race.apply(remove_punctuation)

<ipython-input-33-5daa401cd4a4>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  x = x.str.replace('[^\w\s]','')

Double check everything. Should be 3112 rows and should not have any missing values.

In [34]:
df_race.shape

(3112, 12)

In [35]:
df_race.head()

1,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County,State
2,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama
3,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama
4,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama
5,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama
6,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama

In [36]:
df_race.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 2 to 3144
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3112 non-null   object
 1   total_pop             3112 non-null   float64
 2   total_pop_one_race    3112 non-null   float64
 3   pop_white             3112 non-null   float64
 4   pop_african_american  3112 non-null   float64
 5   pop_native            3112 non-null   float64
 6   pop_asian             3112 non-null   float64
 7   pop_islander          3112 non-null   float64
 8   pop_other             3112 non-null   float64
 9   total_pop_two_races   3112 non-null   float64
 10  County                3112 non-null   object
 11  State                 3112 non-null   object
dtypes: float64(9), object(3)
memory usage: 316.1+ KB

In [37]:
dump(df_race, open('df_race.pkl', 'wb'))

In [38]:
dump(df_race_Alaska, open('df_race_Alaska.pkl', 'wb'))