In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('DECENNIALPL2020.P1_data_with_overlays_2021-10-04T202848.csv', error_bad_lines = False, header = None)

In [3]:
df1.columns = df1.iloc[1]

In [4]:
df1.drop(df1.index[1], inplace = True)

In [5]:
 df1.drop(df1.index[0], inplace = True)

In [6]:
df1.drop(df1.iloc[:, 11:73], axis = 1, inplace = True)

In [7]:
df_race = df1

In [8]:
df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

<ipython-input-8-3176a88a0be0>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_race.columns = df_race.columns.str.strip().str.replace('[^\w\s]', '')

In [10]:
df_race

1,id,Geographic Area Name,Total,TotalPopulation of one race,TotalPopulation of one raceWhite alone,TotalPopulation of one raceBlack or African American alone,TotalPopulation of one raceAmerican Indian and Alaska Native alone,TotalPopulation of one raceAsian alone,TotalPopulation of one raceNative Hawaiian and Other Pacific Islander alone,TotalPopulation of one raceSome Other Race alone,TotalPopulation of two or more races
2,0500000US01001,"Autauga County, Alabama",58805,55648,42160,11445,217,881,35,910,3157
3,0500000US01003,"Baldwin County, Alabama",231767,216743,189399,18217,1582,2067,143,5335,15024
4,0500000US01005,"Barbour County, Alabama",25223,24523,11317,11933,116,117,1,1039,700
5,0500000US01007,"Bibb County, Alabama",22293,21534,16555,4413,60,32,9,465,759
6,0500000US01009,"Blount County, Alabama",59134,55478,50663,845,337,178,24,3431,3656
...,...,...,...,...,...,...,...,...,...,...,...
3218,0500000US72145,"Vega Baja Municipio, Puerto Rico",54414,27813,10042,3491,460,28,9,13783,26601
3219,0500000US72147,"Vieques Municipio, Puerto Rico",8249,6127,1551,1256,86,7,1,3226,2122
3220,0500000US72149,"Villalba Municipio, Puerto Rico",22093,11151,3429,1380,130,10,0,6202,10942
3221,0500000US72151,"Yabucoa Municipio, Puerto Rico",30426,19720,5028,2941,199,8,7,11537,10706
3222,0500000US72153,"Yauco Municipio, Puerto Rico",34172,18958,7312,1617,209,25,2,9793,15214

In [9]:
df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

KeyError: 'State'

In [ ]:
df_race_Alaska

In [ ]:
def percent(number):
    return (number/df_race['Total'])*100

In [ ]:
df_race[df_race.columns[2:]] = df_race[df_race.columns[2:]].astype(float)

In [ ]:
df_race.iloc[:, 3:] = df_race.iloc[:, 3:].apply(percent)

In [ ]:
df_race[['County', 'State']] = df_race['Geographic Area Name'].str.split(',', expand=True)

In [ ]:
df_race.drop('Geographic Area Name', axis = 1, inplace = True)

In [ ]:
df_race['County'] = df_race['County'].str.rstrip('County')

In [ ]:
df_race = df_race.infer_objects()

In [ ]:
# (df_race.loc[df_race['State'].str.contains('Texas', case=False)])

In [ ]:
pd.set_option("max_rows", None)

In [ ]:
# (df_race.loc[df_race['State'].str.contains('Louisiana', case=False)])['County']

In [ ]:
# df_race_Alaska = (df_race.loc[df_race['State'].str.contains('Alaska', case=False)])

In [ ]:
# df_race_Alaska

In [ ]:
from unidecode import unidecode

df_race['County'] = df_race['County'].apply(unidecode)

In [ ]:
from pickle import dump

In [ ]:
dump(df_race, open('df_race.pkl', 'wb'))