In [1]:
import pandas as pd
import numpy as np
from pickle import load
from pickle import dump

In [2]:
# df_alaska_census = load(open('df_race.pkl', 'rb'))

In [3]:
# df_alaska_census.head()

In [4]:
# df_alaska_census = df_alaska_census.loc[df_alaska_census['State'].str.contains('Alaska', case=False)]

In [5]:
df = pd.read_csv('ak_2012_2016.csv')

In [6]:
df.head()

,Weighted/Muni,Registered Voters,"Clinton, Hillary","Trump, Donald J.",Write-in 60,WtTotal,Unnamed: 6,Weighted/Muni.1,Municode,Registered Voters .1,Total Votes,Johnson/Gray (LIB),Obama/Biden (DEM),Romney/Ryan (REP)
0,Ketchikan Gateway,10512,1966.695802,3451.907138,153.011809,6267.150170,NaN,Ketchikan Gateway,Ketchikan,10257,5905.592707,212.061543,2262.784210,3266.635409
1,Prince of Wales-Hyder,4630,1076.455803,1295.125060,91.039696,2830.673904,NaN,Prince of Wales-Hyder,Prince of Wales-Hyder,4371,2482.062762,76.243288,1298.248629,1045.101630
2,Sitka,7218,2110.994000,1811.544401,115.703622,4427.915868,NaN,Sitka,Sitka,7074,4415.265365,133.089646,2340.002643,1830.694119
3,Petersburg,2741,569.639406,915.365934,50.796562,1706.007455,NaN,Petersburg,Petersburg,2648,1729.880554,59.211545,776.066018,867.459549
4,Wrangell,1731,270.992898,751.941311,19.081913,1124.152497,NaN,Wrangell,Wrangell,1658,1143.064441,26.862207,362.631179,738.686288

In [7]:
df = df.drop(df.iloc[:, [4, 6, 7, 8, 11]], axis = 1)

In [8]:
df.head()

,Weighted/Muni,Registered Voters,"Clinton, Hillary","Trump, Donald J.",WtTotal,Registered Voters .1,Total Votes,Obama/Biden (DEM),Romney/Ryan (REP)
0,Ketchikan Gateway,10512,1966.695802,3451.907138,6267.150170,10257,5905.592707,2262.784210,3266.635409
1,Prince of Wales-Hyder,4630,1076.455803,1295.125060,2830.673904,4371,2482.062762,1298.248629,1045.101630
2,Sitka,7218,2110.994000,1811.544401,4427.915868,7074,4415.265365,2340.002643,1830.694119
3,Petersburg,2741,569.639406,915.365934,1706.007455,2648,1729.880554,776.066018,867.459549
4,Wrangell,1731,270.992898,751.941311,1124.152497,1658,1143.064441,362.631179,738.686288

In [9]:
df.columns = [col.replace(',', '') for col in df.columns]

In [15]:
df = df.rename(columns = {'Registered Voters': '2016_registered_voters','Weighted/Muni':'County', 'Clinton Hillary':'Clinton', 'Trump Donald J.':'Trump', 'WtTotal':'2016_total_votes', 'Registered Voters .1':'2012_registered_voters', 'Total Votes':'2012_total_votes', 'Obama/Biden (DEM)':'Obama', 'Romney/Ryan (REP)':'Romney'})

In [16]:
df.head()

,County,Registered Voters,Clinton Hillary,Trump Donald J.,2016_total_votes,2012_registered_voters,2012_total_votes,Obama,Romney
0,Ketchikan Gateway,10512,1966.695802,3451.907138,6267.150170,10257,5905.592707,2262.784210,3266.635409
1,Prince of Wales-Hyder,4630,1076.455803,1295.125060,2830.673904,4371,2482.062762,1298.248629,1045.101630
2,Sitka,7218,2110.994000,1811.544401,4427.915868,7074,4415.265365,2340.002643,1830.694119
3,Petersburg,2741,569.639406,915.365934,1706.007455,2648,1729.880554,776.066018,867.459549
4,Wrangell,1731,270.992898,751.941311,1124.152497,1658,1143.064441,362.631179,738.686288

Drop useless columns.

In [12]:
drop = df.iloc[:, [1, 3, 4, 6, 7, 8, 10]]

IndexError: positional indexers are out-of-bounds

In [ ]:
df = df.drop(drop, axis = 1)

Drop total row.

In [ ]:
df.drop(df.index[29], inplace = True)

Rename to match census.

In [ ]:
df = df.replace({'Lake Peninsula':'Lake Peninsula', 'Wade Hampton': 'Kusilvak', 'Kodiak Island': 'Kodiak Isl', 'Lake and Peninsula': 'Lake Peninsula'}, regex = True)
# df = df.replace({'x':'Lake Peninsula'}, regex = True)

In [ ]:
df

Get rid of useless words in county names and strip spaces at the end of values.

In [ ]:
# df_alaska_census['County'] = df_alaska_census['County'].str.replace('(Borough|Area|Census|Municipality|and|City|Municipali)', '')

In [ ]:
# df_alaska_census['County'] = df_alaska_census['County'].str.strip()

Chugach and Copper River were combined into Valdez-Cordova. This will need to be moved to the census race notebook. There also must be a less tedious way to do this... It will need to be done on every census pull.

In [ ]:
# chugach = (df_alaska_census.loc[df_alaska_census['County'] == 'Chugach']) 
# copper_river = (df_alaska_census.loc[df_alaska_census['County'] == 'Copper River'])
# old_counties = chugach.append(copper_river)
# old_counties

In [ ]:
# valdez = pd.DataFrame(old_counties.sum(numeric_only = True, axis = 0)).T
# valdez

In [ ]:
# valdez['id'] = 'combined'
# valdez['County'] = 'Valdez-Cordova'
# valdez['State'] = 'Alaska'
# df_alaska_census.drop(old_counties.index, axis = 0, inplace= True)

In [ ]:
# df_alaska_census = df_alaska_census.append(valdez)

In [ ]:
# df_alaska_census

Checks for column matches between Alaska results and Alaska census.

In [ ]:
# missing = df.loc[~df['SL/Muni'].isin(df_alaska_census['County'])]
# missing

Rename columns to match other results.

In [ ]:
df.rename(columns = {'SL/Muni': 'County', 'SL Total': '2016_total_votes'}, inplace = True)

In [ ]:
df.head()

In [ ]:
conditions = [df.iloc[:, 2] < df.iloc[:, 3], df.iloc[:, 2] > df.iloc[:, 3]]
choices = ['Trump', 'Clinton']
df['Target'] = np.select(conditions, choices, default = np.nan)

In [ ]:
df = df.drop(df.iloc[:, 1:4], axis = 1)

In [ ]:
df['State'] = 'Alaska'

In [ ]:
df

In [ ]:
df.info()

In [ ]:
# df_alaska_census.info()

Sorting so join will work easily.

In [ ]:
# df = df.sort_values('SL/Muni').reset_index(drop = True)

In [ ]:
# df_alaska_census = df_alaska_census.sort_values('County')

Checking to make sure a join would work. It works!

In [ ]:
# join_check = df.reset_index(drop=True).merge(df_alaska_census.reset_index(drop=True), left_index=True, right_index=True)

In [ ]:
# join_check

In [ ]:
dump(df, open('results_alaska.pkl', 'wb'))