In [1]:
import pandas as pd
from pickle import load
from pickle import dump
pd.set_option("max_columns", None)
pd.set_option('max_rows', None)
import numpy as np

In [2]:
df = load(open('target_df.pkl', 'rb'))

Created this dataframe in the results nb.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 0 to 3112
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Clinton or Trump State  3112 non-null   object
 1   Clinton                 3112 non-null   object
 2   Trump                   3112 non-null   object
 3    Clinton                3112 non-null   object
 4    Trump                  3112 non-null   object
 5   Vote Difference CT      3112 non-null   object
 6   Vote Difference TC      3112 non-null   object
 7   Percent Difference CT   3112 non-null   object
 8   Percent Difference TC   3112 non-null   object
 9   State                   3112 non-null   object
 10  County                  3112 non-null   object
dtypes: object(11)
memory usage: 291.8+ KB

In [4]:
df['Clinton'] = pd.to_numeric(df['Clinton'])
df['Trump'] = pd.to_numeric(df['Trump'])

In [5]:
df.head()

,Clinton or Trump State,Clinton,Trump,Clinton,Trump,Vote Difference CT,Vote Difference TC,Percent Difference CT,Percent Difference TC,State,County
0,Trump,5908,18110,2396,7344,12202,12202,4948,4948,Alabama,Autauga
1,Trump,18409,72780,1957,7735,54371,54371,5779,5779,Alabama,Baldwin
2,Trump,4848,5431,4666,5227,583,583,561,561,Alabama,Barbour
3,Trump,1874,6733,2142,7697,4859,4859,5554,5554,Alabama,Bibb
4,Trump,2150,22808,847,8985,20658,20658,8138,8138,Alabama,Blount

Makes a column with winner of county.

In [6]:
conditions = [df.Clinton < df.Trump, df.Clinton > df.Trump]
choices = ['Trump', 'Clinton']
df['Target'] = np.select(conditions, choices, default = np.nan)

In [7]:
df.head(10)

,Clinton or Trump State,Clinton,Trump,Clinton,Trump,Vote Difference CT,Vote Difference TC,Percent Difference CT,Percent Difference TC,State,County,Target
0,Trump,5908,18110,2396,7344,12202,12202,4948,4948,Alabama,Autauga,Trump
1,Trump,18409,72780,1957,7735,54371,54371,5779,5779,Alabama,Baldwin,Trump
2,Trump,4848,5431,4666,5227,583,583,561,561,Alabama,Barbour,Trump
3,Trump,1874,6733,2142,7697,4859,4859,5554,5554,Alabama,Bibb,Trump
4,Trump,2150,22808,847,8985,20658,20658,8138,8138,Alabama,Blount,Trump
5,Trump,3530,1139,7509,2423,2391,2391,5086,5086,Alabama,Bullock,Clinton
6,Trump,3716,4891,4279,5632,1175,1175,1353,1353,Alabama,Butler,Trump
7,Trump,13197,32803,2786,6924,19606,19606,4138,4138,Alabama,Calhoun,Trump
8,Trump,5763,7803,4183,5663,2040,2040,1481,1481,Alabama,Chambers,Trump
9,Trump,1524,8809,1451,8387,7285,7285,6936,6936,Alabama,Cherokee,Trump

In [8]:
# df.sort_values(by= ['Percent Difference CT'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 0 to 3112
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Clinton or Trump State  3112 non-null   object
 1   Clinton                 3112 non-null   int64
 2   Trump                   3112 non-null   int64
 3    Clinton                3112 non-null   object
 4    Trump                  3112 non-null   object
 5   Vote Difference CT      3112 non-null   object
 6   Vote Difference TC      3112 non-null   object
 7   Percent Difference CT   3112 non-null   object
 8   Percent Difference TC   3112 non-null   object
 9   State                   3112 non-null   object
 10  County                  3112 non-null   object
 11  Target                  3112 non-null   object
dtypes: int64(2), object(10)
memory usage: 316.1+ KB

In [10]:
df.Target.value_counts()

Trump      2624
Clinton     488
Name: Target, dtype: int64

In [11]:
Clinton = df.loc[df.Target == 'Clinton']

In [12]:
Trump = df.loc[df.Target == 'Trump']

In [13]:
df.Clinton.sum()

62298328

In [14]:
df.Trump.sum()

60995541

In [15]:
df.Clinton.sum()/df.Trump.sum()

1.0213587252222256

In [16]:
df.Trump.sum()/df.Clinton.sum()

0.9790879299360972

In [17]:
target_df = df[['Target']]

In [18]:
target_df.head()

  Target
0  Trump
1  Trump
2  Trump
3  Trump
4  Trump

In [19]:
target_df.value_counts()

Target
Trump      2624
Clinton     488
dtype: int64

In [20]:
df.isna().sum()

Clinton or Trump State    0
Clinton                   0
Trump                     0
 Clinton                  0
 Trump                    0
Vote Difference CT        0
Vote Difference TC        0
Percent Difference CT     0
Percent Difference TC     0
State                     0
County                    0
Target                    0
dtype: int64

In [21]:
dump(target_df, open('target_df.pkl', 'wb'))