In [1]:
import pandas as pd
import numpy as np
from pickle import load
from pickle import dump
pd.set_option("max_columns", None)
pd.set_option('max_rows', None)
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_predict
from sklearn.metrics import confusion_matrix
from sklearn.metrics import confusion_matrix, plot_confusion_matrix
from sklearn.metrics import accuracy_score, make_scorer, f1_score, precision_score, recall_score

In [2]:
df = load(open('df_race_results.pkl', 'rb'))

In [3]:
target = load(open('target_df.pkl', 'rb'))

In [4]:
target.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 0 to 3112
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Target  3112 non-null   object
dtypes: object(1)
memory usage: 48.6+ KB

In [5]:
target.isna().sum()

Target    0
dtype: int64

In [6]:
df.shape, target.shape

((3112, 25), (3112, 1))

In [7]:
df.head()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying
0,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama,Alabama,Autauga,24661,6354,17366,23909,594,93,1001,1001,1.0,1.0,Central
1,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama,Alabama,Baldwin,94090,18329,65772,84988,1590,128,1003,1003,1.0,3.0,Central
2,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama,Alabama,Barbour,10390,5873,5539,11459,885,30,1005,1005,1.0,5.0,Central
3,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama,Alabama,Bibb,8748,2200,6131,8391,623,36,1007,1007,1.0,7.0,Outlying
4,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama,Alabama,Blount,25384,2961,20741,23980,645,89,1009,1009,1.0,9.0,Outlying

In [8]:
df['target'] = target

In [9]:
df.head()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying,target
0,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama,Alabama,Autauga,24661,6354,17366,23909,594,93,1001,1001,1.0,1.0,Central,Trump
1,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama,Alabama,Baldwin,94090,18329,65772,84988,1590,128,1003,1003,1.0,3.0,Central,Trump
2,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama,Alabama,Barbour,10390,5873,5539,11459,885,30,1005,1005,1.0,5.0,Central,Trump
3,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama,Alabama,Bibb,8748,2200,6131,8391,623,36,1007,1007,1.0,7.0,Outlying,Trump
4,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama,Alabama,Blount,25384,2961,20741,23980,645,89,1009,1009,1.0,9.0,Outlying,Trump

In [10]:
df.target.value_counts()

Trump      2623
Clinton     488
Name: target, dtype: int64

In [11]:
df.isna().sum()

id                      0
total_pop               0
total_pop_one_race      0
pop_white               0
pop_african_american    0
pop_native              0
pop_asian               0
pop_islander            0
pop_other               0
total_pop_two_races     0
County_x                0
State_x                 0
State_y                 0
County_y                0
2016_total_votes        0
Obama                   0
Romney                  0
2012_total_votes        0
2010_land_area          0
Density                 0
combined_fips_code      0
ansi_code               0
state_fips_code         0
county_fips_code        0
central_outlying        0
target                  1
dtype: int64

In [12]:
df.target.isna().sum()

1

In [13]:
df.head()

,id,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,County_x,State_x,State_y,County_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,combined_fips_code,ansi_code,state_fips_code,county_fips_code,central_outlying,target
0,0500000US01001,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,Autauga,Alabama,Alabama,Autauga,24661,6354,17366,23909,594,93,1001,1001,1.0,1.0,Central,Trump
1,0500000US01003,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,Baldwin,Alabama,Alabama,Baldwin,94090,18329,65772,84988,1590,128,1003,1003,1.0,3.0,Central,Trump
2,0500000US01005,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,Barbour,Alabama,Alabama,Barbour,10390,5873,5539,11459,885,30,1005,1005,1.0,5.0,Central,Trump
3,0500000US01007,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,Bibb,Alabama,Alabama,Bibb,8748,2200,6131,8391,623,36,1007,1007,1.0,7.0,Outlying,Trump
4,0500000US01009,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,Blount,Alabama,Alabama,Blount,25384,2961,20741,23980,645,89,1009,1009,1.0,9.0,Outlying,Trump

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3112 entries, 0 to 3111
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3112 non-null   object
 1   total_pop             3112 non-null   float64
 2   total_pop_one_race    3112 non-null   float64
 3   pop_white             3112 non-null   float64
 4   pop_african_american  3112 non-null   float64
 5   pop_native            3112 non-null   float64
 6   pop_asian             3112 non-null   float64
 7   pop_islander          3112 non-null   float64
 8   pop_other             3112 non-null   float64
 9   total_pop_two_races   3112 non-null   float64
 10  County_x              3112 non-null   object
 11  State_x               3112 non-null   object
 12  State_y               3112 non-null   object
 13  County_y              3112 non-null   object
 14  2016_total_votes      3112 non-null   int64
 15  Obama                 3112 non-null   int64
 16  Romney                3112 non-null   int64
 17  2012_total_votes      3112 non-null   int64
 18  2010_land_area        3112 non-null   int64
 19  Density               3112 non-null   int64
 20  combined_fips_code    3112 non-null   object
 21  ansi_code             3112 non-null   object
 22  state_fips_code       3112 non-null   object
 23  county_fips_code      3112 non-null   object
 24  central_outlying      3112 non-null   object
 25  target                3111 non-null   object
dtypes: float64(9), int64(6), object(11)
memory usage: 632.2+ KB

In [15]:
df.at[67, 'target'] = 'Clinton'

In [16]:
df.iloc[67]

id                                         0500000US04001
total_pop                                         66021.0
total_pop_one_race                                63631.0
pop_white                                         14873.0
pop_african_american                                185.0
pop_native                                        47016.0
pop_asian                                           312.0
pop_islander                                         20.0
pop_other                                          1225.0
total_pop_two_races                                2390.0
County_x                                          Apache
State_x                                           Arizona
State_y                                           Arizona
County_y                                          Apache
2016_total_votes                                    18659
Obama                                               16833
Romney                                               8198
2012_total_votes                                    25465
2010_land_area                                      11198
Density                                                 6
combined_fips_code                                   4001
ansi_code                                            4001
state_fips_code                                       4.0
county_fips_code                                      1.0
central_outlying        Not Metro or Micro Presumed Rural
target                                            Clinton
Name: 67, dtype: object

Dropping redundant location columns. Kept them before for EDA and mapping.

In [17]:
drop = ['id', 'County_x', 'County_y', 'State_x', 'combined_fips_code', 'ansi_code', 'state_fips_code', 'county_fips_code']

In [18]:
df.drop(drop, axis = 1, inplace = True)

In [19]:
df.nunique()

total_pop               3054
total_pop_one_race      3043
pop_white               3044
pop_african_american    2000
pop_native              1178
pop_asian               1265
pop_islander             457
pop_other               1828
total_pop_two_races     2356
State_y                   50
2016_total_votes        2962
Obama                   2779
Romney                  2890
2012_total_votes        2982
2010_land_area          1387
Density                  620
central_outlying           3
target                     2
dtype: int64

In [20]:
df.iloc[[-1]]

,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,State_y,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,central_outlying,target
3111,6838.0,6498.0,6197.0,30.0,97.0,27.0,9.0,138.0,340.0,Wyoming,3334,422,2821,3323,2398,3,Not Metro or Micro Presumed Rural,Trump

In [21]:
state_dummies = pd.get_dummies(df['State_y'], drop_first = True)
central_outlying = pd.get_dummies(df['central_outlying'], drop_first = True)

In [22]:
df = df.drop(['State_y', 'central_outlying'], axis = 1)

In [23]:
df.head()

,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,target
0,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,24661,6354,17366,23909,594,93,Trump
1,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,94090,18329,65772,84988,1590,128,Trump
2,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,10390,5873,5539,11459,885,30,Trump
3,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,8748,2200,6131,8391,623,36,Trump
4,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,25384,2961,20741,23980,645,89,Trump

In [24]:
df = pd.concat([df, state_dummies, central_outlying], axis = 1)
df.head()

,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,target,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,Iowa,Kansas,Kentucky,Louisiana,Maine,Maryland,Massachusetts,Michigan,Minnesota,Mississippi,Missouri,Montana,Nebraska,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,North Dakota,Ohio,Oklahoma,Oregon,Pennsylvania,Rhode Island,South Carolina,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Not Metro or Micro Presumed Rural,Outlying
0,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,24661,6354,17366,23909,594,93,Trump,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,94090,18329,65772,84988,1590,128,Trump,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,10390,5873,5539,11459,885,30,Trump,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,8748,2200,6131,8391,623,36,Trump,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,25384,2961,20741,23980,645,89,Trump,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [25]:
df.target = df.target.map({'Trump': 0, 'Clinton': 1})

In [26]:
df.head()

,total_pop,total_pop_one_race,pop_white,pop_african_american,pop_native,pop_asian,pop_islander,pop_other,total_pop_two_races,2016_total_votes,Obama,Romney,2012_total_votes,2010_land_area,Density,target,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,Iowa,Kansas,Kentucky,Louisiana,Maine,Maryland,Massachusetts,Michigan,Minnesota,Mississippi,Missouri,Montana,Nebraska,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,North Dakota,Ohio,Oklahoma,Oregon,Pennsylvania,Rhode Island,South Carolina,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Not Metro or Micro Presumed Rural,Outlying
0,58805.0,55648.0,42160.0,11445.0,217.0,881.0,35.0,910.0,3157.0,24661,6354,17366,23909,594,93,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,231767.0,216743.0,189399.0,18217.0,1582.0,2067.0,143.0,5335.0,15024.0,94090,18329,65772,84988,1590,128,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,25223.0,24523.0,11317.0,11933.0,116.0,117.0,1.0,1039.0,700.0,10390,5873,5539,11459,885,30,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,22293.0,21534.0,16555.0,4413.0,60.0,32.0,9.0,465.0,759.0,8748,2200,6131,8391,623,36,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,59134.0,55478.0,50663.0,845.0,337.0,178.0,24.0,3431.0,3656.0,25384,2961,20741,23980,645,89,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [27]:
X = df.drop(['target'], axis = 1)
y = df.target

In [28]:
# scoring = {'accuracy' : make_scorer(accuracy_score), 
#            'macro_precision' : make_scorer(precision_score, average = 'macro'),
#            'macro_recall' : make_scorer(recall_score, average = 'macro'), 
#            'macro_f1_score' : make_scorer(f1_score, average = 'macro')}

In [29]:
accuracy = make_scorer(accuracy_score)

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state = 42)

In [31]:
param = {'svc__kernel': ['rbf', 'poly', 'linear']}
pipe2 = make_pipeline(StandardScaler(), svm.SVC())
grid = GridSearchCV(pipe2, param, scoring= accuracy)

In [32]:
grid.fit(X_train, y_train)

GridSearchCV(estimator=Pipeline(steps=[('standardscaler', StandardScaler()),
                                       ('svc', SVC())]),
             param_grid={'svc__kernel': ['rbf', 'poly', 'linear']},
             scoring=make_scorer(accuracy_score))

In [33]:
grid.best_score_

0.85046640505096

In [34]:
grid.best_params_

{'svc__kernel': 'linear'}

In [35]:
grid.best_estimator_

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(kernel='linear'))])

In [36]:
y_hat_train = cross_val_predict(pipe2, X_train, y_train)

In [37]:
confusion_matrix(y_train, y_hat_train)

array([[1936,   31],
       [ 323,   44]], dtype=int64)